<html>
<head>
    <title>Samochodzik</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\RADEK\Desktop\Studia\testInterface11\style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
   

  </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="home.html">Samochodzik.pl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="C:\Users\RADEK\Desktop\Studia\testInterface11\home.html">Strona główna <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="C:\Users\RADEK\Desktop\Studia\testInterface11\oferty.html">Oferty</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="C:\Users\RADEK\Desktop\Studia\testInterface11\kontakt.html">Kontakt</a>
                </li>
              </ul>
            </div>
     </nav>

     <div class="card mb-3">
        <img class="card-img-top" src="C:\Users\RADEK\Desktop\Studia\testInterface11\image\bigmazda.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mazda 6</h5>
          <p class="card-text">Pojazd poprzedził koncept o nazwie Takeri zaprezentowany w 2011 roku w Tokio. Wersja kombi została zaprezentowana w Paryżu. Jesienią 2014 roku na salonie w Los Angeles zaprezentowano wersję po faceliftingu. Niewielkie zmiany stylistyczne zostały uzupełnione wprowadzeniem napędu 4x4 (tylko w wersji kombi) oraz bogatszym wyposażeniem (m.in. pojawił się ekran dotykowy o przekątnej 7 cali). Zmieniono m.in. przednią atrapę chłodnicy z charakterystycznym motywem skrzydła.</p>
        </div>
      </div>
     
     
      <div class="comments">
      <section ng-app="chat" class="chat">
            <div ng-controller="chatCtrl">
               <div class="chat-view" ng-show="current_user.online"> 
         <div class="chat-messages" id="chat-messages">
           <!-- Lista wiadomości --> 
           <div ng-repeat="message in messages | orderBy: 'created_at'" ng-class="{'item-message-highlight':message.user_uid==current_user.uid}" class="item-message">
             <p class="item-message__user">
               <span>{{ message.user_nickname }}</span>
               <time>{{ format_date(message.created_at) }}</time>
             </p>
             <p class="item-message__text"><span>{{ message.text }}</span></p>
           </div>
         </div>         
         
         <!-- Pisanie nowej wiadomości -->
         <div ng-controller="inputCtrl" class="chat-input">
           <form name="messageForm" ng-submit="sendMessage()" autocomplete="off" novalidate>
            <div class="input">
            <input type="text" ng-model="messageForm.text" id="chat-input" placeholder="Wyraź opinie" required>
             <button type="submit" class="btn btn-green">Wyślij</button>
            </div>
           </form>
         </div>
        </div>

         <div ng-controller="loginCtrl" ng-show="!current_user.online" class="chat-view login-form">  
            <h1></h1>
            <h2>Zaloguj się, aby wyrazić opinię</h2>
            <form name="loginForm" ng-submit="loginUser()" novalidate>
               <div class="login-form__frame">
                  <h3 ng-show="!loading">Zaloguj się</h3>
                  <h3 ng-show="loading">Czekaj...</h3>
                  <div class="row" ng-class="{'loading':loading}">
                     <input type="text" ng-model="loginForm.nickname" placeholder="Twój nick ..." required>
                     <button type="submit" class="btn btn-green">Wejdź</button>
                  </div>
               </div>
            </form>
         </div>
         
            
         </section>
        </div>

         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
         <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
         <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>    
         <script src="C:\Users\RADEK\Desktop\Studia\testInterface11/firebase.js"></script>
         

              
 

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 Samochodzik.pl</div>
</footer>

            

     




    



    


</body>

</html>